@CHARSET "UTF-8";

body {
	padding-top: 50px;
}

#bg {
	background-image: url('/resources/img/new-bg.jpg');
	background-size: cover;
    background-position: center;
	height: 755px;
}

#jumbo1 {
	background-color: #40B2F0;
}

#jumbo2 {
	background-color: #2D7FAB;
	margin-top: 30px;
}

#jumbo3 {
	background-color: #3AA1D9;
	margin-top: 30px;
}

.placeholder {
	margin-top: 20px;
}

footer {
    margin: auto 0;
}
footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}
footer p {
    clear: left;
    margin-bottom: 0;
}