<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.matchmaker.mappers.AdminMapper">

	<!-- 관리자 1인 정보보기(로그인용) -->
	<select id="selectAdmin" resultType="AdminVO">
		select * from admin 
		where id = #{id} and pw = #{pw}
	</select>
	
	<!-- <select id="join">
		insert into admin(id,pw)
		values(#{id}, #{pw})
	</select> -->

	<!-- 유저 리스트 보기 -->
	<select id="selectList" resultType="UserVO">
		select * 
		from user 
		order by userid
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>

	<!-- 유저수 카운트 -->
	<select id="countUser" resultType="int">
		select count(userid) from user
	</select>

	<!-- 유저 1인 정보보기 -->
	<select id="selectOne" resultType="UserVO">
		select * from user where
		userid = #{userid}
	</select>

	<!-- 유저아이디 삭제용 -->
	<delete id="delete">
		delete from user where userid = #{userid}
	</delete>

</mapper>