<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.matchmaker.mappers.BoardMapper">

	<insert id="create">
		insert into freeboard (title, content, writer)
		values(#{title}, #{content}, #{writer})
	</insert>

	<select id="readAll" resultType="BoardVO">
		select bno, title, writer,
		regdate, hit 
		from freeboard order by bno desc
	</select>

	<update id="update">
		update freeboard set title = #{title}, content =
		#{content}, writer = #{writer}, regdate = now()
		where bno = #{bno}
	</update>

	<delete id="delete">
		delete from freeboard
		where bno = #{bno}
	</delete>

	<select id="readOne" resultType="BoardVO">
		select bno, title, content,
		writer, regdate, hit
		from freeboard
		where bno = #{bno}
	</select>

	<!-- 동적 SQL을 위한 부분 SQL -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="BoardVO">
		<![CDATA[
		select bno, title, content, writer, regdate, hit, replycnt
		from freeboard
		where bno > 0	
		]]>

		<include refid="search"></include>
		
		<![CDATA[	
		order by bno desc, regdate desc
		limit #{pageStart} , #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[
			select count(bno) 
			from freeboard
			where bno > 0	
		]]>
		<include refid="search"></include>
	</select>

	<update id="updateReplyCnt">
		update freeboard set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>

</mapper>
