<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.matchmaker.mappers.BoardMapper">

	<!-- 구버전 -->
	<!-- <insert id="create"> -->
	<!-- insert into freeboard (title, content, writer) -->
	<!-- values(#{title}, #{content}, #{writer}) -->
	<!-- </insert> -->

	<!-- <select id="readAll" resultType="BoardVO"> -->
	<!-- select bno, title, writer, -->
	<!-- regdate, hit -->
	<!-- from freeboard order by bno desc -->
	<!-- </select> -->

	<!-- <update id="update"> -->
	<!-- update freeboard set title = #{title}, content = -->
	<!-- #{content}, writer = #{writer}, regdate = now() -->
	<!-- where bno = #{bno} -->
	<!-- </update> -->

	<!-- <delete id="delete"> -->
	<!-- delete from freeboard -->
	<!-- where bno = #{bno} -->
	<!-- </delete> -->

	<!-- <select id="readOne" resultType="BoardVO"> -->
	<!-- select bno, title, content, -->
	<!-- writer, regdate, hit -->
	<!-- from freeboard -->
	<!-- where bno = #{bno} -->
	<!-- </select> -->

	<!-- <sql id="search"> -->
	<!-- <if test="searchType != null"> -->
	<!-- <if test="searchType == 't'.toString()"> -->
	<!-- and title like CONCAT('%', #{keyword}, '%') -->
	<!-- </if> -->
	<!-- <if test="searchType == 'c'.toString()"> -->
	<!-- and content like CONCAT('%', #{keyword}, '%') -->
	<!-- </if> -->
	<!-- <if test="searchType == 'w'.toString()"> -->
	<!-- and writer like CONCAT('%', #{keyword}, '%') -->
	<!-- </if> -->
	<!-- <if test="searchType == 'tc'.toString()"> -->
	<!-- and ( title like CONCAT('%', #{keyword}, '%') OR content -->
	<!-- like -->
	<!-- CONCAT('%', #{keyword}, '%')) -->
	<!-- </if> -->
	<!-- <if test="searchType == 'cw'.toString()"> -->
	<!-- and ( content like CONCAT('%', #{keyword}, '%') OR writer -->
	<!-- like -->
	<!-- CONCAT('%', #{keyword}, '%')) -->
	<!-- </if> -->
	<!-- <if test="searchType == 'tcw'.toString()"> -->
	<!-- and ( title like CONCAT('%', #{keyword}, '%') -->
	<!-- OR -->
	<!-- content -->
	<!-- like CONCAT('%', #{keyword}, '%') -->
	<!-- OR -->
	<!-- writer like CONCAT('%', -->
	<!-- #{keyword}, '%')) -->
	<!-- </if> -->
	<!-- </if> -->
	<!-- </sql> -->

	<!-- <select id="listSearch" resultType="BoardVO"> -->
	<!-- <![CDATA[ -->
	<!-- select bno, title, content, writer, regdate, hit, replycnt -->
	<!-- from freeboard -->
	<!-- where bno > 0 -->
	<!-- ]]> -->

	<!-- <include refid="search"></include> -->

	<!-- <![CDATA[ -->
	<!-- order by bno desc, regdate desc -->
	<!-- limit #{pageStart} , #{perPageNum} -->
	<!-- ]]> -->
	<!-- </select> -->

	<!-- <select id="listSearchCount" resultType="int"> -->
	<!-- <![CDATA[ -->
	<!-- select count(bno) -->
	<!-- from freeboard -->
	<!-- where bno > 0 -->
	<!-- ]]> -->
	<!-- <include refid="search"></include> -->
	<!-- </select> -->

	<!-- <update id="updateReplyCnt"> -->
	<!-- update freeboard set replycnt = replycnt + #{amount} -->
	<!-- where bno = #{bno} -->
	<!-- </update> -->

	<!-- <update id="updateHit"> -->
	<!-- update freeboard set hit = hit + 1 where bno = #{bno} -->
	<!-- </update> -->


	<!-- <insert id="addAttach"> -->
	<!-- insert into boardattach(fullname, bno) values -->
	<!-- (#{fullName}, LAST_INSERT_ID()) -->
	<!-- </insert> -->

	<!-- <select id="getAttach" resultType="string"> -->
	<!-- select fullname from -->
	<!-- boardattach where bno = #{bno} -->
	<!-- order by regdate -->
	<!-- </select> -->

	<!-- <delete id="deleteAttach"> -->
	<!-- delete from boardattach where bno = #{bno} -->
	<!-- </delete> -->

	<!-- <insert id="replaceAttach"> -->
	<!-- insert into boardattach(fullname, bno) values -->
	<!-- (#{fullName}, #{bno}) -->
	<!-- </insert> -->

	<!-- 신버전 맵퍼 -->

	<insert id="create">
		insert into article (title, content, writer)
		values(#{title}, #{content}, #{writer})
	</insert>

	<select id="readAll" resultType="ArticleVO">
		select *
		from article order by
		bno desc
	</select>

	<update id="update">
		update article set title = #{title}, content =
		#{content}, writer = #{writer}, regdate = now()
		where bno = #{bno}
	</update>

	<delete id="delete">
		delete from article
		where bno = #{bno}
	</delete>

	<select id="readOne" resultType="ArticleVO">
		select bno, title, content,
		writer, regdate, hit
		from article
		where bno = #{bno}
	</select>

	<!-- 동적 SQL을 위한 부분 SQL -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="ArticleVO">
		<![CDATA[
		select *
		from article
		where bno > 0	
		]]>

		<include refid="search"></include>
		
		<![CDATA[	
		order by bno desc, regdate desc
		limit #{pageStart} , #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[
			select count(bno) 
			from article
			where bno > 0	
		]]>
		<include refid="search"></include>
	</select>

	<update id="updateReplyCnt">
		update article set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</update>

	<update id="updateHit">
		update article set hit = hit + 1 where bno = #{bno}
	</update>


	<insert id="addAttach">
		insert into reference(fullname, bno) values
		(#{fullName}, LAST_INSERT_ID())
	</insert>

	<select id="getAttach" resultType="string">
		select fullname from
		reference
		where bno = #{bno}
		order by regdate
	</select>

	<delete id="deleteAttach">
		delete from reference where bno = #{bno}
	</delete>

	<insert id="replaceAttach">
		insert into reference(fullname, bno) values
		(#{fullName}, #{bno})
	</insert>

</mapper>
