<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.matchmaker.mapper.BoardMapper">

	<insert id="create">
		insert into freeboard (title, content, writer)
		values(#{title}, #{content}, #{writer})
	</insert>

	<select id="readAll" resultType="BoardVO">
		select bno, title, writer, regdate, hit
		from freeboard
	</select>






</mapper>
