<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.matchmaker.mappers.CourtMapper">

	<!-- 코트 검색 목록 조회 -->
	<select id="getSearchCourts" resultType="CourtVO">
		<![CDATA[
		select a.title, a.replycnt, c.lat, c.lng, c.liked, c.cno 
		from court c natural join article a 
		where c.approval = 'Y'
		]]>
		
		<include refid="searchCourts"></include>
		
		<![CDATA[
		order by c.cno desc 
		limit #{pageidx}, 10
		]]>
	</select>
	
	<!-- 코트 상세 검색 조건: 동적 SQL 사용 -->
	<sql id="searchCourts">
		<if test="radius != null">
			and c.lat between #{swlat} and #{nelat} and c.lng between #{swlng} and #{nelng}
		</if>
		<if test="full != null">
			<choose>
				<when test="full == 'Y'.toString()">
					and a.content like '%풀코트%'
				</when>
				<when test="full == 'N'.toString()">
					and a.content like '%하프코트%'
				</when>
			</choose>
		</if>
		<if test="shower != null">
			<choose>
				<when test="shower == 'Y'.toString()">
					and a.content like '%샤워가능%'
				</when>
				<when test="shower == 'N'.toString()">
					and a.content like '%샤워불가%'
				</when>
			</choose>
		</if>
		<if test="parking != null">
			<choose>
				<when test="parking == 'Y'.toString()">
					and a.content like '%주차가능%'
				</when>
				<when test="parking == 'N'.toString()">
					and a.content like '%주차불가%'
				</when>
			</choose>
		</if>
		<if test="outer != null">
			<choose>
				<when test="outer == 'Y'.toString()">
					and a.content like '%야외%'
				</when>
				<when test="outer == 'N'.toString()">
					and a.content like '%실내%'
				</when>
			</choose>
		</if>
		<if test="free != null">			
			<choose>
				<when test="free == 'Y'.toString()">
					and a.content like '%무료%'
				</when>
				<when test="free == 'N'.toString()">
					and a.content like '%유료%'
				</when>
			</choose>
		</if>
		<if test="ground != null">
			<choose>
				<when test="ground == 'A'.toString()">
					and a.content like '%아스팔트%'
				</when>
				<when test="ground == 'D'.toString()">
					and a.content like '%흙%'
				</when>
				<when test="ground == 'R'.toString()">
					and a.content like '%고무%'
				</when>
				<when test="ground == 'U'.toString()">
					and a.content like '%우레탄%'
				</when>
			</choose>
		</if>
	</sql>

	<!-- 코트 1개 조회 -->
	<select id="getCourt" resultType="CourtVO">
		select * from court natural join article where approval = 'Y' and cno = #{cno}
	</select>

	<!-- 코트 등록 -->
	<insert id="regCourt">
		insert into court(bno, ano, address, lat, lng, approval)
		values(#{bno}, #{ano}, #{address}, #{lat}, #{lng}) 
	</insert>

	<!-- 코트 좋아요 올리기 -->
	<update id="likeCourt">
		update court set liked = liked + 1 where bno = #{bno} and ano = #{ano}
	</update>

	<!-- 게임 1개 조회 -->
	<select id="getMatch" resultType="MatchDTO">
		select mname, DATE_FORMAT(begintime, '%m/%d %h:%i %p') begintime, DATE_FORMAT(endtime, '%m/%d %h:%i %p') endtime, state from match_court where mno = #{mno}
	</select>

	<!-- 게임 목록 조회 -->
	<select id="getMatches" resultType="MatchDTO">
		<![CDATA[
		select m.mno, m.mname, DATE_FORMAT(m.begintime, '%m/%d %h:%i %p') begintime, DATE_FORMAT(m.endtime, '%m/%d %h:%i %p') endtime, m.cno, m.state, c.lat, c.lng 
		from match_court m natural join court c where m.cno > 0
		]]>
		
		<include refid="searchMatches"></include>
		
		<![CDATA[
		order by m.mno desc
		limit #{pageidx}, 10
		]]>
	</select>
	
	<!-- 코트에 예약된 게임 목록 조회 -->
	<sql id="searchMatches">
		<if test="cno != 0">
			and m.cno = #{cno}
		</if>
		<if test="radius != null">
			and c.lat between #{swlat} and #{nelat} and c.lng between #{swlng} and #{nelng}
		</if>
		<if test="begintime != null">
			<![CDATA[
			and m.begintime > #{begintime} and m.endtime < #{endtime}
			]]>
		</if>
	</sql>
	
	<!-- 게임 대기 상태에서 시간 지나면 시작 상태로 변경 -->
	<update id="checkMatch0">
		<![CDATA[
		update match_court set state = '시작' where state = '대기' and begintime <= now()
		]]>
	</update>
	
	<!-- 시작 상태에서 시간 지나면 진행 상태로 변경 -->
	<update id="checkMatch1">
		<![CDATA[
		update match_court set state = '진행' where state = '시작' and begintime + INTERVAL 3 day_minute < now()
		]]>
	</update>
	
	<!-- 시작 상태에서 게임 종료후 평가 상태로 변경 -->
	<update id="checkMatch2">
		<![CDATA[
		update match_court set state = '평가' where state = '진행' and endtime < now()
		]]>
	</update>
	
	<!-- 게임 종료후 30분 지나면 평가 상태에서 종료 상태로 변경 -->	
	<update id="checkMatch3">
		<![CDATA[
		update match_court set state = '종료' where state = '평가' and endtime + INTERVAL 3 day_minute < now()
		]]>
	</update>
	
	<!-- 팀 선수들을 가져옴 -->
	<select id="getTeam" resultMap="playerDTO">
		select id, role, state from match_player where mno = #{mno} and team = #{team}
	</select>
	
	<!-- 팀에 해당하는 선수들 가져갈때 사용할 Map -->
	<resultMap type="HashMap" id="playerDTO">
		<result javaType="String" column="id" property="id"/>
		<result javaType="String" column="role" property="role"/>
		<result javaType="String" column="state" property="state"/>
	</resultMap>
	
	<!-- 아이디로 선수 하나 가져옴 -->
	<select id="getPlayer" resultType="PlayerVO">
		select * from player where userid = #{userid}
	</select>
	
	<!-- 선수의 게임 상태 대기에서 참가로 변경 -->
	<update id="stateStart">
		update match_player set state = '참가' where id = #{id} and mno = #{mno}
	</update>
	
	<!-- 선수의 게임 상태 참가에서 종료로 변경 -->
	<update id="stateEnd">
		update match_player set state = '종료' where id = #{id} and mno = #{mno}
	</update>
	
	<!-- 선수 점수 생성 -->
	<insert id="initPlayer">
		insert into match_result(mno, id) values(#{mno}, #{id})
	</insert>
	
	<!-- 선수 평가 -->
	<update id="ratePlayer">
		update match_result set point = point + #{point}, trust = trust + #{trust}
		where mno = #{mno} and id = #{id}
	</update>
	
</mapper>