<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.matchmaker.mappers.CourtMapper">

	<select id="getAllCourts" resultType="CourtVO">
		select * from court
	</select>

	<select id="getAllMatches" resultType="MatchDTO">
		select mno, mname, 
		DATE_FORMAT(begintime, '%m/%d %h:%i %p') begintime, 
		DATE_FORMAT(endtime, '%m/%d %h:%i %p') endtime,
		cno, state from match_court
	</select>
	
</mapper>