<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.matchmaker.mappers.CourtMapper">

	<!-- 코트 목록 조회 -->
	<select id="getCourts" resultType="CourtVO">
		select a.title, a.replycnt, c.lat, c.lng, c.liked, c.cno 
		from court c natural join article a 
		where c.approval = 'Y'
		order by c.cno desc 
		limit #{pageidx}, 10
	</select>
	
	<!-- 코트 검색 목록 조회
	<select id="getSearchCourts" resultType="CourtVO">
		select a.title, a.replycnt, c.lat, c.lng, c.liked, c.cno 
		from court c natural join article a 
		where c.approval = 'Y' and c.lat between #{swlat} and #{nelat} and c.lng between #{swlng} and #{nelng}
		order by c.cno desc 
		limit #{pageidx}, 10
	</select> -->

	<!-- 코트 1개 조회 -->
	<select id="getCourt" resultType="CourtVO">
		select * from court natural join article where approval = 'Y' and cno = #{cno}
	</select>

	<!-- 코트 등록 -->
	<insert id="regCourt">
		insert into court(bno, ano, address, lat, lng, approval)
		values(#{bno}, #{ano}, #{address}, #{lat}, #{lng}) 
	</insert>

	<!-- 코트 좋아요 올리기 -->
	<update id="likeCourt">
		update court set liked = liked + 1 where cno = #{cno}
	</update>

	<!-- 게임 목록 조회 -->
	<select id="getMatches" resultType="MatchDTO">
		select mno, mname, 
		DATE_FORMAT(begintime, '%m/%d %h:%i %p') begintime, 
		DATE_FORMAT(endtime, '%m/%d %h:%i %p') endtime,
		cno, state from match_court
	</select>
	
	<!-- 코트 검색 목록 조회 -->
	<select id="getSearchCourts" resultType="CourtVO">
		<![CDATA[
		select a.title, a.replycnt, c.lat, c.lng, c.liked, c.cno 
		from court c natural join article a 
		where c.approval = 'Y'
		]]>
		
		<include refid="search"></include>
		
		<![CDATA[
		order by c.cno desc 
		limit #{pageidx}, 10
		]]>
	</select>
	
	<!-- 동적 SQL 사용 -->
	<sql id="search">
		<if test="radius != null">
			and c.lat between #{swlat} and #{nelat} and c.lng between #{swlng} and #{nelng}
		</if>
		<if test="detail != null">
			<choose>
				<when test="full == 'Y'.toString()">
					and a.content like '%풀코트%'
				</when>
				<when test="full == 'N'.toString()">
					and a.content like '%하프코트%'
				</when>
			</choose>
			<choose>
				<when test="shower == 'Y'.toString()">
					and a.content like '%샤워가능%'
				</when>
				<when test="shower == 'N'.toString()">
					and a.content like '%샤워불가%'
				</when>
			</choose>
			<choose>
				<when test="parking == 'Y'.toString()">
					and a.content like '%주차가능%'
				</when>
				<when test="parking == 'N'.toString()">
					and a.content like '%주차불가%'
				</when>
			</choose>
			<choose>
				<when test="outer == 'Y'.toString()">
					and a.content like '%야외%'
				</when>
				<when test="outer == 'N'.toString()">
					and a.content like '%실내%'
				</when>
			</choose>
			<choose>
				<when test="free == 'Y'.toString()">
					and a.content like '%무료%'
				</when>
				<when test="free == 'N'.toString()">
					and a.content like '%유료%'
				</when>
			</choose>
			<choose>
				<when test="ground == 'A'.toString()">
					and a.content like '%아스팔트%'
				</when>
				<when test="ground == 'D'.toString()">
					and a.content like '%흙%'
				</when>
				<when test="ground == 'R'.toString()">
					and a.content like '%고무%'
				</when>
				<when test="ground == 'U'.toString()">
					and a.content like '%우레탄%'
				</when>
			</choose>
		</if>
	</sql>
	
	
</mapper>