<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 타입에 대한 패키지 생략 설정 -->
		<package name="com.kosta.matchmaker.domain" />
		<package name="com.kosta.matchmaker.aop" />
		<!-- article 패키지 안돌 때 사용 -->
		<package name="com.kosta.matchmaker.domain.*" />
	</typeAliases>
</configuration>
